<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="home">Gestor de tareas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item" *ngIf="storageService.getLocalStorage('nombre')" routerLinkActive="active">
        <a class="nav-link" routerLink="home-user">Home-User</a>
      </li>-->
  
      <div *ngIf="storageService.getLocalStorage('token');else login"><!-- si esta logueado muestra logout sino entra en la etiqueta ng-template con el nombre #login asociado. Este nombre lo indique previamente despues del else-->
        <li class="nav-item">
            <a class="nav-link" routerLink="#" (click)="logout()">Cerrar sesión</a>
        </li>
      </div>
      <ng-template #login>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="login">Acceder</a>
        </li>
      </ng-template>
    </ul>
    
  </div>
</nav>